<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/webconsole.png">
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/webconsole.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./webstyle.css" type="text/css">
    <title>Components</title>
    <style type="text/css">
        * {
            font-weight: 700 !important;
            text-shadow: 0.04em 0.04em 0.05em#cde086 !important;
            color: #ffffff;
            font-family: "Microsoft JhengHei";
            transition: 0.2s;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
        }
    </style>
</head>

<body>
    <div id="floatContainer1" class="float-container">
        <label for="floatField1">Float Label 1</label>
        <input type="text" id="floatField1" data-placeholder="">
    </div>

    <div id="floatContainer2" class="float-container">
        <label for="floatField2">Float Label 2</label>
        <input type="text" id="floatField2" data-placeholder="Placeholder 2">
    </div>

    <span class="checkmark">
        <button class="checkmark_circle"></button>
        <div class="checkmark_stem"></div>
        <div class="checkmark_kick"></div>
    </span>
    <span class="closemark">
        <button class="closemark_circle"></button>
        <div class="closemark_stem"></div>
        <div class="closemark_kick"></div>
    </span>

</body>
<script src="./index.js"></script>

</html>